<mat-toolbar color="primary" class="mat-elevation-z2">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Golden Raspberry Awards
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button" [routerLink]="['/']" (click)="sidenav.toggle()">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list']" (click)="sidenav.toggle()">
      <mat-icon>manage_search</mat-icon>
      <span>List</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
