<mat-card class="width-auto">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>List movies</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="text-center">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col" class="display-inline-grid">
          Year
          <input type="text" class="config-input" placeholder="Search Year"
                 [(ngModel)]="searchYear" (keyup.enter)="moviesInfo(page, totalList, searchYear, validateWinner)">
        </th>
        <th scope="col">Title</th>
        <th scope="col" class="display-inline-grid">
          Winner?
          <mat-form-field appearance="fill">
            <mat-label>True/False?</mat-label>
            <select matNativeControl [(ngModel)]="validateWinner">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </mat-form-field>
        </th>
        <th>
          <button class="config-button-list pointer"
                  title="Search List" (click)="moviesInfo(page, totalList, searchYear, validateWinner)">
            <mat-icon>
              search
            </mat-icon>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let allMovie of allMoviesYears | paginate: {
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalList
      }">
        <td>{{allMovie.id}}</td>
        <td>{{allMovie.year}}</td>
        <td>{{allMovie.title}}</td>
        <td>{{allMovie.winner}}</td>
      </tr>
      </tbody>
    </table>

  </mat-card-content>
  <div class="list-alignt-end">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

</mat-card>


